<%- include('partials/header'); -%>

<ul>
    <li>
        <h4>Employee Name 1</h4>
        <p>CEO</p>
    </li>
    <li>
        <h4>Employee Name 2</h4>
        <p>CFO</p>
    </li>
    <li>
        <h4>Employee Name 3</h4>
        <p>CHRO</p>
    </li>

</ul>


<%- include('partials/footer'); -%>